:root {
  // Colors
  --colorPrimary: #A4C2D0;
  --colorPrimaryLight: #E3F6FF;
  --colorSecondary: #5B7885;
  --colorSecondaryDark: #334263;
  --colorDark: #2D3B42;
  --colorDarkLight: #555;
}


$mobileMenuHeight: 60px;




@keyframes openMenu {
  0% {
    opacity: 0;
  }  
  100% {
    opacity: 1;
  }
}
