.about-row {
  padding: 20px 0;

  &__right {
    padding: 0 10px;
  }
}

@media (min-width: 1280px) {
  .about-row {
    display: flex;

    &__left {
      order: 2;
      display: flex;
      width: 40%;
    }

    &__right {
      order: 1;
      width: 60%;
    }
  }
}
