.benitses-row {
  padding: 20px 0;

  &__left {
    padding: 10px;
  }

  &__right {
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 1280px) {
  .benitses-row {
    display: flex;

    &__left {
      width: 40%;
    }

    &__right {
      width: 60%;
    }
  }
}
