.breakfast-row {
  padding: 20px 0;

  &__left {
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }

  &__right {
    padding: 0 10px;
  }
}


@media (min-width: 1280px) {
  .breakfast-row {
    display: flex;

    &__left {
      width: 60%;
      order: 2;
    }

    &__right {
      order: 1;
      padding-right: 40px;
      width: 40%;
    }
  }
}
