.facilities-row {
  padding: 20px 0;

  &__left {
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }

  &__center {
    padding: 10px;
    background-color: var(--colorPrimaryLight);
  }

  &__right {
    font-family: sans-serif;
    font-style: italic;
    padding: 10px;
    background-color: var(--colorSecondary);
    color: #fff;

    p {
      position: relative;
      padding-left: 21px;
      margin: 12px 0;

      &::before {
        position: absolute;
        content: '\f00c';
        font-family: FontAwesome;
        left: 0;
        top: 0;
        color: #1fa67a;
      }
    }
  }
}


@media (min-width: 1280px) {
  .facilities-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__center {
      padding: 0 20px;
    }

    &__left img {
      height: 100%;
      object-fit: cover;
    }
    &__right {
      font-size: 18px;
      line-height: 28px;
      padding-left: 18px;

      p {
        padding-left: 27px;
      }
    }
  }
}
