.footer-columns {

  &__hover-content {
    display: none;
  }

  &__item {
    position: relative;
  }

  h5 {
    position: absolute;
    top: 30px;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .footer-columns {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(2, 50%);

    &__item {
      width: 98%;
      margin: 1%;

      a {
        width: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 1280px) {
  .footer-columns {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;

    &__item {
      position: relative;

      &::before {
        background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        opacity: 0;
        width: 100%;
        transition: all 0.2s ease-in-out;
      }

      &:hover::before {
        opacity: 1;
      }
    }

    &__hover-content {
      display: block;
      color: #fff;
      position: absolute;
      bottom: 0;
      padding: 20px;
    }
  }
}
