.main-navigation {
  position: absolute;
  bottom: 0;
}

.menu-main {
  &-wrap {
    position: fixed;
    bottom: 0;
    display: flex;
    height: $mobileMenuHeight;
    width: 100%;
    background-color: #f2f2f2;
    z-index: 100;

    .sideContent {
      width: 60%;
      display: flex;

      .menu-main-item {
        width: 33.333%;
      }
    }
  }

  &-item {
    position: relative;
    height: 100%;
    width: 20%;
  }

  &-button {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 25px;
    color: var(--colorSecondary);
    background-color: transparent;
    border: 0;
    text-decoration: none;
    outline: none;
    transition: 0.15s;
    cursor: pointer;

    .menu-main-lang-icon {
      height: 25px;
      width: 28px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.open,
    &:active {
      color: #fff;
      background-color: var(--colorSecondary);
    }

    i {
      margin-bottom: 4px;
      pointer-events: none;
    }

    span {
      font-size: 13px;
      pointer-events: none;
    }
  }
}


@media (min-width: 1280px) {
  .menu-main {
    &-wrap {
      width: calc(100% - 150px);
      height: 60px;
      display: flex;
      position: relative;
      bottom: unset;
      background-color: #fff;

      .sideContent {
        width: auto;

        .menu-main-item:first-child {
          display: none;
        }

        .menu-main-item {
          width: 60px;
        }
      }
    }

    &-item {
      width: 60px;
      height: 60px;

      &.main-navigation {
        width: auto;
        margin: 0 auto;

        .menu-main-button {
          display: none;
        }

        #menu-main-button+div {
          display: block;
          animation: unset;
          opacity: 1;
          position: relative;
          top: unset;
          left: unset;
          width: auto;
          height: auto;
        }
      }
    }
  }
}
