.quiz-row {
  padding: 0 10px;

  &__popup {
    z-index: 7777;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: none;
    justify-content: center;
    opacity: 0;
    animation: openMenu 0.3s;

    &.open {
      display: flex;
      opacity: 1;
    }

    &-close {
      position: absolute;
      top: 2px;
      right: 5px;
      background-color: transparent;
      border: 0;
      outline: none;

      &::before {
        position: relative;
        content: "\f00d";
        font-family: FontAwesome;
        font-size: 35px;
        line-height: 35px;
        color: #000;
      }
    }

    .quiz-area {
      padding: 40px 10px;
      background-color: #fff;

      .watu_num+span {
        font-weight: 700;
        font-size: 18px;
      }

      input[type="button"] {
        display: block;
        border: none;
        padding: 5px 30px;
        font-size: 14px;
        line-height: 26px;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        background-color: var(--colorSecondary);
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          filter: hue-rotate(20deg);
          box-shadow: 0 2px 10px -5px #000;
        }
      
        &:active {
          filter: hue-rotate(30deg);
          box-shadow: 0 0 0 0 #000;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .quiz-row {
    padding: 0;
    margin: 0 40px;
    &__popup {
      background-color: rgba(0, 0, 0, 0.8);

      &-close {
        top: 15px;
        right: 30px;

        &::before {
          color: #fff;
        }
      }
      .quiz-area {
        margin-top: 10vh;
        padding: 30px;
        width: 600px;
        max-width: 600px;
        max-height: 80vh;
        margin-bottom: auto;
        overflow-y: overlay;
      }
    }
  }
}
